.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.table-container {
    padding: 22px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

thead {
    background-color: #222222;
    color: #ffffff;
}

td {
    height: 50px;
}

td img {
    height: 50px;
}

.preloader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.preloader img {
    margin: auto;
    height: 50px;
    width: 50px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
